h1 {
    color: rgb(25, 0, 255);
}
body {
    color: rgb(0, 255, 106);
}

h2 {
    color:  rgb(151, 231, 240);
}
.header {
    color: rgb(255, 234, 71);
    align-content: center;
    border-radius: 10px;
    padding-left: 20px;
    height: 100px;
    width: auto;
    background-color: red;

}

.logo {
    margin-top: -80px;
    margin-left: 2px;
    border-radius: 65px;
}

.mainmenu {
    background-color: red;
    width: 300px;
    display: flex;
    list-style-type: none;
    margin: none;
    padding-left: 300px;
    padding-top: 30px;

}
.mainmenu li {
    margin: auto;
    border: 5px;
    background: black;
 
}

.mainmenu li a {
    color: white;

}

.box {
    align-content: center;
    margin: auto;
    border-left: 10px greenyellow;
    border-right: 10px greenyellow;
    height: auto;
    width: 700px;
    background-color: none;
}

.footer {
    align-content: center;
    border: 3px solid gray;
    height: 50px;
    width: 700px ;
    margin: auto;
    background-color: rgb(52, 14, 187);
}
.box2 {
    background-color: rgb(14, 187, 106);
}

.para1 {
    border-radius: 25px;
    border: 20px solid red;
    color: white;
    background-color: red;
}

.para2 {
    border: 20px solid plum;
    border-radius: 10px;
    color: rgb(12, 7, 7);
    background-color: plum;
}