h1 {
    color: red;
}
.div1 {
   }
body {
    color: yellow;
}

h2 {
    color:  gray;
}
.header {
    align-content: center;
    border: 3px solid black;
    height: 100px;
    width: auto;
    background-color: rgb(228, 7, 7);
    background-image: url();
}

.box {
    align-content: center;
    margin: auto;
    border-left: 10px greenyellow;
    border-right: 10px greenyellow;
    height: 1500px;
    width: 700px;
    background-color: burlywood;
}

.footer {
    align-content: center;
    border: 3px solid gray;
    height: 50px;
    width: auto;
    background-color: rgb(52, 14, 187);
}
.box2 {
    background-color: rgb(14, 187, 106);
}

.para1 {

    background-color: rgb(187, 14, 14);
}

.para2 {


    background-color: rgb(146, 86, 37);
}