body {
  background: #efefef; 
  font-family: arial;
}
h1 {
  font-size: 18px;
}
a {
  color: #000000;
  text-decoration: underline;
  }
  body {
    background: #efefef; 
    font-family: arial;
  }
  h2 {
    font-size: 16px;
  }
  a {
    color: #5e2323;
    text-decoration: underline;
    }